// Menu Overlay
.menu {
  position: sticky;
  top: 0;

  .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style-type: none;
    background: #23353a;
    border-bottom: 3px solid $secondary-color;
    margin: 0;
    padding: 1rem;

    .nav-link {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1rem;
      font-weight: 400;
      color: $primary-color;
      text-decoration: none;

      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
