@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: $text-color;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  text-align: center;

  &.main-heading {
    color: $primary-color;
    font-size: 6vw;
  }

  &.lg-heading {
    font-size: 2.5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-family: "Just Another Hand", cursive;
    font-size: 1.7rem;
    font-weight: 400;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

// Sections
section {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    color: $primary-color;
    text-align: center;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    @include background;
    overflow: hidden;
    height: 100vh;

    h1 {
      margin-top: 20vh;
    }
  }

  &#contact {
    // contact section(100vh) height - footer height(60px) keeps the footer stuck on the bottom
    min-height: calc(100vh - 70px);
  }
}

// About Page
.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "bio skill1";
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  .bio {
    grid-area: bio;
    font-size: 1.2rem;

    .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      max-width: 225px;
      max-height: 225px;
      border: $secondary-color 3px solid;
    }
    p {
      width: 70%;
      margin: auto;
    }
  }

  .skill-1 {
    grid-area: skill1;
  }

  .skill ul {
    background: $primary-color;
    padding: 0.5rem;
    border-left: $secondary-color 5px solid;
    list-style-type: none;
    font-weight: 800;
  }
}

// Work/Projects Page
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
#contact {
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
      font-size: 1.5rem;
      border: 3px $secondary-color solid;
      border-radius: 35px;
      padding: 1rem 2rem;
      margin-bottom: 3rem;
      color: $text-color;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        border-radius: 35px;
        background: $secondary-color;
        color: $primary-color;
        span {
          color: $text-color;
        }
      }
    }
  }

  .icons {
    text-align: center;
    color: $text-color;
    font-size: 1.7rem;

    a {
      padding: 0.4rem;
      color: $text-color;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $text-color;
    color: $secondary-color;
  }
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

#main-footer {
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 0.5rem;
  background: $text-color;
  color: $secondary-color;
  height: 70px;
}

// Needs to run after the inital CSS
@import "mobile";
